/* Fonts */
@font-face {
  font-family: "Baloo-bold";
  src: url("../public/fonts/baloo/BalooBhaijaan2-Bold.ttf");
}
@font-face {
  font-family: "Baloo-exbold";
  src: url("../public/fonts/baloo/BalooBhaijaan2-ExtraBold.ttf");
}
@font-face {
  font-family: "Baloo-med";
  src: url("../public/fonts/baloo/BalooBhaijaan2-Medium.ttf");
}
@font-face {
  font-family: "Baloo-reg";
  src: url("../public/fonts/baloo/BalooBhaijaan2-Regular.ttf");
}
@font-face {
  font-family: "Baloo-sembold";
  src: url("../public/fonts/baloo/BalooBhaijaan2-SemiBold.ttf");
}
.App {
  text-align: center;
  background-color: #03AED2;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
